
html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(https://solarscroller.rhettforbes.com/img/stars.jpg);
  background-repeat: repeat;
  background-color: #000;
  overflow: hidden;
  animation: sky 50s linear infinite;
}
@keyframes sky {
50% {
    background-position: 600px 300px;
  }
  100% {
    background-position: 1200px 150px;
  }
} 



