#loader {
   
    width: 70px;
    height: 70px;
    animation: spin 1s linear;
    
}
  
@keyframes spin {
    0% {
        transform: scale(1, 1);
      }
      100% {
        transform: scale(1.5, 1.5);
      }
}
  
.center {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
